.explore-brand{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.explore-brand h1{
    color: #262626;
    font-weight: 500;
}

.explore-brand-list{
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0 0 -10px;
}

.explore-brand-list-item{
    align-items: center;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    margin: 10px 0 0 10px;
    padding: 2px 4px;
    flex: 1 1 calc(12% - 10px); 
    box-sizing: border-box;
    cursor: pointer;
}

.explore-brand-list-item img {
    max-width: 100%;
    max-height: 60px;
    width: auto;
    height: auto;
    display: block;
  }

.explore-brand hr{
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}
